/* 
rockhazard projects
works best with css reset (for stripping browser render customizations): <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
*/

html {
    background-color: black;
    font-family: Loma, sans;
    font-size: 100%;
}

#parent {
    position: relative;
    width: 800px;
    height: auto;
    left: 5px;
    margin: auto;
}

div.panel {
    background: #545448;
    border-style: solid;
    border-width: 1px;
    border-color: orange;
    border-radius: 5px;
    padding: 8px;
    margin: 8px;
    position: absolute;
}

#nav {
    width: 280px;
    height: 460px;
    text-align: left;
}

#article {
    float: right;
    position: static;
    width: 450px;
    height: 460px;
}

#footer {
    position: absolute;
    width: auto;
    top: 615px;

}

#footBar {
    position: absolute;
    width: 800px;
    top: 600px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
}

h1 {
    font-size: 2.75em;
    color: orange;
}

h2 {
    font-size: 2em;
    margin-bottom: 2px;
    margin-top: 2px;
    color: orange;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 2px;
    margin-top: 2px;
    color: white;
}

p {
    color: white;
    font-size: 1em;
}

a {
    text-decoration: none ;
}

a h3:hover {
    color: orange;
}

a:hover {
    color: orange;
}